<a href="https://colab.research.google.com/github/DawidJag/stocks_data_web_scrapping/blob/main/web_scrapping_bankier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# This program will scrap stocks data from website www.bankier.pl

In [2]:
# importing neccessary libriaries
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
# create empty lists for companies data
firma = []
kurs = []
zmiana = []
zmiana_proc = []
liczba_transakcji = []
czas = []

In [4]:
URL = 'https://www.bankier.pl/gielda/notowania/akcje?start=A'
page = requests.get(URL)
soup = BeautifulSoup(page.text, 'html.parser')
rows = soup.tbody.find_all('tr', attrs={'class':''})

In [5]:
for i in rows:
  row = i.find_all('td')

  firma.append(row[0].text.strip())
  kurs.append(row[1].text.strip())
  zmiana.append(row[2].text.strip())
  zmiana_proc.append(row[3].text.strip())
  liczba_transakcji.append(row[4].text.strip())
  czas.append(row[9].text.strip())

In [6]:
# Create a function to scrape the data
def scrape_stock_data(Letter):

  Letter = Letter.upper()
  URL = 'https://www.bankier.pl/gielda/notowania/akcje?start=' + Letter
  page = requests.get(URL)
  soup = BeautifulSoup(page.text, 'html.parser')
  rows = soup.tbody.find_all('tr', attrs={'class':''})

  for i in rows:
    row = i.find_all('td')

    firma.append(row[0].text.strip())
    kurs.append(row[1].text.strip())
    zmiana.append(row[2].text.strip())
    zmiana_proc.append(row[3].text.strip())
    liczba_transakcji.append(row[4].text.strip())
    czas.append(row[9].text.strip()) 

  return (firma, kurs, zmiana, zmiana_proc, liczba_transakcji, czas)

In [7]:
# Preparing a list with all letters + '0-9'
import string
letters = list(string.ascii_uppercase)
letters.append('0-9')

In [8]:
# Extracting all data

# clearing the lists
firma = []
kurs = []
zmiana = []
zmiana_proc = []
liczba_transakcji = []
czas = []

for char in letters:
  (firma, kurs, zmiana, zmiana_proc, liczba_transakcji, czas) = scrape_stock_data(char)

In [9]:
# Create a DataFrame with all data
df = pd.DataFrame(columns=['spółka', 'kurs', 'zmiana', 'zmiana_%', 'liczba_transakcji', 'czas'])
df['spółka'] = firma
df['kurs'] = kurs
df['zmiana'] = zmiana
df['zmiana_%'] = zmiana_proc
df['liczba_transakcji'] = liczba_transakcji
df['czas'] = czas

df

        spółka      kurs   zmiana zmiana_% liczba_transakcji         czas
0      ABCDATA    1,4280   0,0000    0,00%                11  22.07 13:14
1     ABMSOLID    0,1100  -0,1400  -56,00%                27  26.07 15:20
2         ABPL   28,8000   0,0000    0,00%                 2  27.10 09:45
3    ACAUTOGAZ   37,7000   0,7000    1,89%                11  27.10 10:23
4       ACTION    4,1300  -0,1600   -3,73%                19  27.10 10:18
..         ...       ...      ...      ...               ...          ...
447     ZYWIEC  470,0000  -2,0000   -0,42%                 2  27.10 09:00
448    06MAGNA    1,5000  -0,1200   -7,41%                71  27.10 10:24
449   08OCTAVA    0,8600   0,0400    4,88%                 1  26.10 11:00
450      11BIT  470,0000   3,0000    0,64%                35  27.10 10:12
451  4FUNMEDIA    5,0800  -0,0200   -0,39%                 1  27.10 09:00

[452 rows x 6 columns]

In [10]:
df.to_csv('stocks_data.csv')